.headers {
    padding-top: 9%;
    color: white;
    opacity: 0.8;
    text-align: left;
  
    h4 {
      padding-top: 3%;
      display: flex;
      align-items: center;

      Link {
        text-decoration: none;
        color: white;
        opacity: 0.8;
      }
    }
  }
  
  hr {
    padding-top: 0;
    color: white;
    opacity: 0.2;
    border: 2px solid;

    @media only screen and (max-width: 2000px) {
      border: 1px solid;
    }
  }

  .subheader-link {
    color: white;
    opacity: 0.8;
  }
  
  .subheader-link:hover {
    text-decoration: underline;
    color: white;
    opacity: 0.8;
  }

  .subheader-link-disabled {
    pointer-events: none;
    text-decoration: none;
    color: white;
    opacity: 0.8;
  }