.add-category-container {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  font-weight: 600;
  background:rgba(0,0,0,0.7);
  background-repeat: no-repeat;
  position: fixed;
  
  h4 {
    color: #333333d6;
    text-align: left;

    @media (max-width: 550px) {
      text-align: center;
    }
  }

  .close-button {
    border: none;
    background-color: transparent;
    font-size: 14px;
    font-weight: 600;
    color: white;
    height: 50px;
    width: 100%;
    text-align: right; 
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.ic-close {
    width: 22px;
    margin: 8px;
}

.add-white-card {
  width: 540px;
  height: 100%;
  background-color: white;
  border-radius: 3px;
  padding: 18px;

  @media (max-width: 550px) {
    width: 340px;
  }
}

  input {
    border: none;
    width: 70%;
    outline: none;
    
    @media (max-width: 550px) {
      text-align: center;
      padding-bottom: 14px;
    }
  }

 .add-category-btn {
    background-color: rgb(66, 199, 141);
    padding: 8px 16px 8px 16px;
    border: none;
    border-radius: 4px;
    color: white;
    display: flex;
    align-items: center;
  }

  form {
    padding-top: 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: 550px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
}

.hr-new-category {
  border: 1px solid;
  color: lightgray;
  margin-top: 10px;
}

.error-msg {
  color: red;
  font-weight: 400
}

.ic-add-category {
  width: 10px;
  margin: 4px;
}