.photo-detail-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  font-weight: 600;
  background:rgba(0,0,0,0.7);
  background-repeat: no-repeat;
  position: fixed;
}

.flexbox-photo-detail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.close-button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 14px;
  width: 600px;
  text-align: right;
  padding-bottom: 4px;

  @media (max-width: 674px) {
    width: 500px;
  }

  @media (max-width: 574px) {
    width: 80vw;
  }
}

.nav-button {
  background-color: transparent;
  border: none;
}

.white-container-photo {
	width: 600px;
  margin: 12px;
  background-size: cover;
  background-position: center;

  @media (max-width: 674px) {
    width: 80vw;
  }
}

.photo-detail {
  width: 100%
}

.photo-detail-ic {
  width: 20px;
}

.photo-detail-arrow {
  width: 14px;
}