.photo-detail-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  font-weight: 600;
  background:rgba(0,0,0,0.7);
  background-repeat: no-repeat;
  position: fixed;
}

.photo-detail-flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inner-flexbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: -32px;
}

.close-button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 14px;
  width: 100%;
  text-align: right;
  height: 50px;
  padding: 0;
}

.nav-button {
  background-color: transparent;
  border: none;
}

.white-container-photo {
	max-width: 600px;
  max-height: 400px;
  min-width: 300px;
	min-height: 100px;
  margin: 12px;
  background-size: cover;
  background-position: center;
}

.photo-detail {
  width: 100%
}

.photo-detail-ic {
  width: 20px;
}

.photo-detail-arrow {
  width: 14px;
  margin-top: 100px;
}