.photo-detail-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  font-weight: 600;
  background:rgba(0,0,0,0.7);
  background-repeat: no-repeat;
  position: fixed;
}

.close-button {
  background-color: transparent;
  font-size: 16px;
  font-weight: 600;
  color: white;
  margin-left: 70%;
  border: none
}

.photo-detail-flexbox {
  display: flex;
	flex-direction: row;
	justify-content: center;
  align-items: center;
  
  & button {
    background-color: transparent;
    font-size: 30px;
    font-weight: 400;
    color: white;
    border: none;
  }
}

.white-container-photo {
	max-width: 600px;
  max-height: 400px;
  min-width: 300px;
	min-height: 100px;
  margin: 12px;
  background-size: cover;
  background-position: center;
	background-image: url("../../resources/placeholder.png");
}