.card-add-category {
  width: 17.17vw;
  height: 84%;
  padding: 0.8%;
  margin-left: 2%;
  margin-bottom: 42px;
  border: 1.4px solid #d3d3d385;
  cursor: pointer;
  border-radius: 4px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;

    @media only screen and (max-width: 1383px) {
      width: 31.3%;
      padding: 0.65%;
    }

    @media only screen and (max-width: 1000px) {
      width: 48%;
      padding: 0;
    }

    @media only screen and (max-width: 650px) {
      width: 98%;
    }

    img {
      width: 98%;
      background-position: center;
    }

    &:hover {
      transform: translate(0, -10px);
      transition: transform .4s ease-in-out;
    }
}