.add-photo-btn {
  border: none;
}

.card-add-photo {
  transition: transform .4s ease-in-out;
  border: 1.4px solid #d3d3d385;
  cursor: pointer;
  border-radius: 4px;
  background-color: white;
  align-items: center;
  color: #aaaaaa;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 12px;

    img {
      width: 46px;
      margin-bottom: 18px;
    }
}

.card-add-photo:hover {
  transform: translate(0, -10px);
  cursor: pointer;
}