.gallery {
  padding-top: 10px;
  padding-bottom: 20%;
  z-index: -999;
}


.homepage-container {
  width: 71.25%;
  margin-left: 13%;
}

.webdesign {
  color: #c1c1c1;
  padding-top: 26px;
  font-weight: 600;
  text-align: left;
}
