.show-photo-detail-btn {
  background-color: transparent;
  border: none;
}

.card-photo {
  transition: transform .4s ease-in-out;

    img {
      width: 100%;
      border-radius: 4px;
      background-size: cover;
      background-position: center;
    }
}

.card-photo:hover {
  transform: translate(0, -10px);
  cursor: pointer;
}
